/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

table {
  border-spacing: 0;
  width: 100%;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    padding: $spacing-unit * 3;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Typography
 */
h1, h2, h3, h4, h5, h6, p {
  font-weight: $base-font-weight;
  text-align: center;
}

h1, h2, h3, p {
  font-style: italic;
}




/**
 * Inputs
 */
textarea {
  background-color: #FAFBFA;
  border: none;
  box-sizing: border-box;
  margin-bottom: 1em;
  min-height: 200px;
  padding: $spacing-unit;
  width: 100%;
  -webkit-box-shadow:inset 0 0 30px 0 rgba(0,0,0,0.15);
  box-shadow:inset 0 0 30px 0 rgba(0,0,0,0.15);
  -webkit-appearance: none;
  @extend body;
  
  &:focus {
    outline: none;
  }
}




/**
 * Helpers
 */
hr {
  background: url('/diff-read/images/diffread-caret.svg') no-repeat center;
  background-size: 25px;
  border: none;
  height: 10px;
  padding: $spacing-unit;
}

button {
  cursor: pointer;
}



/**
 * Links
 */
a {
  color: $brand-color-one;
  text-decoration: none;

  &:visited {
    color: darken($brand-color-one, 15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}


/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;
}


/**
 * Branding
 */
.brand--one {
  color: $brand-color-one;
}

.brand--two {
  color: $brand-color-two;
}




/**
 * Calls to Action / Buttons
 */
.cta,
button.cta,
input.cta {
  background-color: $text-color;
  border: none;
  border-radius: 50%;
  color: lighten($text-color, 100%);
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size * 0.7;
  font-style: normal;
  line-height: 65px;
  outline: none;
  padding: 0;
  text-transform: uppercase;
  height: 65px;
  width: 65px;
  
  &.cta--one {
    background-color: $brand-color-one;
  }
  
  &.cta--two {
    background-color: $brand-color-two;
  }
}



/**
 * Diff Output
 */
#diff-output {
  
  .content--added {
    background-color: transparentize($brand-color-one, 0.4);
  }

  .content--removed {
    background-color: transparentize($brand-color-two, 0.4);
  }
  
  .content--break {
    background-color: #eee;
    
    td {
      line-height: 10px;
    }
  }

  .code-block {
    background: #fff; 
    color: $text-color; 
    margin: 2em 0; 
    overflow-x: scroll; 
    padding: 0; 
    white-space: pre; 
    -webkit-box-shadow:inset 0 0 20px 0 rgba(0,0,0,0.2);
    box-shadow:inset 0 0 20px 0 rgba(0,0,0,0.2);
  }

  .code-block table {
    margin: 0;
  }

  td[data-symbol],
  td[data-number-a],
  td[data-number-b] {
    color: #555;
    font-size: 80%;
    padding: 0 0 0 10px;
  }

  td[data-symbol]:after {
    content: attr(data-symbol);
  }

  td[data-number-a]:after {
    content: attr(data-number-a);
  }

  td[data-number-b]:after {
    content: attr(data-number-b);
  }
  
}



/**
 * Clearfix
 */
%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

