/**
 * Site header
 */
.site-header {
  min-height: 56px;
}

.site-logo img {
  display: block;
  margin: 0 auto $spacing-unit;
}

.site-logo__circles {
  max-width: 130px;
}

.site-logo__title {
  max-width: 250px;
}

.site-byline {
  font-size: $base-font-size;
  font-style: italic;
}

/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

